/*
@font-face {
	font-family: SourceSansProLight;
	src: url(fonts/SourceSansPro-Light.otf);
}
@font-face {
	font-family: SourceSansProRegular;
	src: url(fonts/SourceSansPro-Regular.otf);
}
@font-face {
	font-family: SourceSansProBold;
	src: url(fonts/SourceSansPro-Bold.otf);
}
@font-face {
	font-family: FiraSansHair;
	src: url(fonts/FiraSans-Hair.ttf);
}
@font-face {
	font-family: FiraSansLight;
	src: url(fonts/FiraSans-Light.ttf);
}
*/
body {
	margin: 0 0 0 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
nav {
    position: relative;
    width: 100%;
    z-index: 100;
}
.top-nav-container {
/*	background-image: url("images/darkgrey_background.png");*/
    background: #202020;
	width: 100%;
	height: 6.25em;
	margin: 0;
	padding-bottom: 1em;
	overflow: hidden;
}
nav ul {
	list-style-type: none;
}
nav li{
	display: inline-block;
	font-size: 1em;
}

em {
	font-style: normal;
}

#top-nav-logo {
	float: left;
	padding-left: 14%
}

#top-nav-logo img {
	max-height: 4.3em;
	width: auto;
}
#top-nav-links {
	position: absolute;
	right: 14.5%;
	padding-top: 50px;
}
#top-nav-links a {
	font-size: 1.25em;
    font-weight: 300;
	color: white;
	padding-left: 3.125em;
}
#top-nav-links a:hover {
	color: #FFC222;
	cursor: pointer;
}
.body-container {
    width: 100%;
    text-align: center;
}
.main-projects-container {
	width: 100%;
	height: 50em;
	margin: 0,0,0,0;
}
.home-container {
	background-image: url("images/bethechange.png");
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0,0,0,0;
}
.hsContainer {
    overflow: hidden;
    position: relative;
    height: 80%;
    width: 100%;
}

#main-projects-header {
	margin: 0,0,0,0;
	position: relative;
	overflow: hidden;
}
#main-projects-header h1 {
	font-size: 3em;
    font-weight: 400;
	color: #FFC222;
	text-align: center;
	margin: 0,0,0,0;
}
.project-box-container {
    display: inline-block;
    width: 90%;
    padding-bottom: 6em;
}
.project-box {
    width: 20em;
    height: 20em;
    z-index: 1;
    perspective: 1000px;
    display: inline-block;
    margin: 0.5em;
}
.project-box .flipcard:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}
.flipcard {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.front.face {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.front.face img {
    width: 20em;
    height: 20em;
}
.front.face p {
    margin-top: 70%;
    background-color: rgba(0,0,0,0.8);
    height: 10%;
    padding: 10%;
    color: white;
    font-size: 1.5em;
    font-weight: 200;
}
.face.back{
    padding: 10px;
    background: #FFC222;
    color: #fff;
    transform: rotateY(180deg);
}
.face.back p {
    margin-top: 30%;
    line-height: 1.5em;
    font-weight:300;
}
.center {
    text-align: center;
}
#eco-markets {
    background-image: url("images/eco-market.png");
}
#project-pulse {
    background-image: url("images/project-pulse.png");
}
#citizens-empowerment {
    background-image: url("images/citizens-empowerment.png");
}
#enactus-mexico {
    background-image: url("images/enactus-mexico.png");
}
#enactus-chile {
    background-image: url("images/enactus-chile.png");
}
#enactus-global {
    background-image: url("images/global-website.png");
}


.bottom-nav-container {
	background-color: #202020;
	clear: both;
    text-align: center;
}
.semi-bold-yellow {
	font-size: 1em;
    font-weight: 600;
	color: #FFC222;
}
.bottom-nav {
	padding: 1.25em 0 1.25em 0;
	clear: both;
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	height: 100%;
	width: 60%;
}
.bottom-nav p {
	font-size: 0.9em;
    font-weight: 300;
	color: white;
}
#en-act-us {
	width: 100%;
    text-align:left;
}
#en-act-us p {
	padding-right: 0.625em;
}
#get-involved {
	width: 45%;
	display: inline-block;
	text-align: left;
}
#social-icons img {
    max-height: 3em;
	width: auto;
    display: inline-block;
    padding-right: 2em;
}
#social-icons ul {
    list-style-type: none;
}
#social-icons ul li {
    display: inline;
}
#social-icons a{
	padding-bottom: 1em;
    font-weight: 300;
    text-decoration: none;
}

@media only screen 
and (min-device-width : 700px) 
and (max-device-width : 1300px) {
    back.face {
        display: none;
    }
}


