.main
  %h1
    About CMU Enactus
  %p
    Founded 25 years ago, SIFE national chapters originally began in small town colleges in the U.S. and have expanded rapidly to larger schools like Carnegie Mellon, Harvard and Notre Dame, and worldwide. SIFE has recruited more than 200 executives to its board, currently headed by Mr. Robert E. Rich, Jr., of Rich Products Corporation. Other companies represented on the board include 3M, Black & Decker, Coca-Cola, AT&T, ConAgra, Nestle and Pfizer.
  %p
    Carnegie Mellon SIFE was founded by Sheel Mohnot and Neil Shah in 2000, and a group of 4 dedicated project members. Professor Anthony Stanton from GSIA volunteered to become the SIFE advisor and has continued to advise the team to this day. From then on, CMU SIFE has rapidly grown through energetic leaders, innovative projects and alliances with local corporations and other groups on campus.
  %p
    Each year SIFE teams from around the world initiate outreach projects and then compete at year end in a regional competition for recognization and more than $400,000 in prize money. Regional champions go on to the National Competition, and National champions go on to the Global Competition. In addition to judging regional, national and the international World Cup SIFE competitions, corporate board members like Radio Shack and Walmart recruit heavily from SIFE talent.
  %p
    Carnegie Mellon SIFE is proud to have an excellent history of success in participating at both the Regional and National Levels. Currently, Carnegie Mellon SIFE has quickly climbed from rookie in a pack of 800+ schools to the top 15 two years ago at the National Competition. This year's goal is achieving top 4 in the national competition and the World Cup!
  %h1
    Executive Board
  %p
    .eboard-member
      .img
        =image_tag("eboard/Rebecca_Greenberg_IT_film.jpg")
      %h3
        Rebecca Greenberg
      %h5
        President
        rebecca.f.greenberg@gmail.com
    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Shalaka Nanda Kumar
      %h5
        Vice President
        shalakank@hotmail.com
    .eboard-member
      .img
        =image_tag("pl/Alice_Ye_Healthy_Lifestyles.jpg")
      %h3
        Alice Ye
      %h5
        Secretary
	      acye@andrew.cmu.edu
    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Felicia Alfieri
      %h5
        Co-Treasury

    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Matt Gode
      %h5
        Treasury Committee
        mgode@andrew.cmu.edu

    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Karon Hawkins
      %h5
        PR Chair
        ptripath@andrew.cmu.edu

    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Allison Ma
      %h5
        Fundraising Chair
	      afma@andrew.cmu.edu

    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Kristen Chon
      %h5
        Design Chair
	      kristen.chon@gmail.com

    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Alex Arkhangelskaya
      %h5
        BAB Liaison
	      aleksandra.arkh@gmail.com

    .eboard-member
      .img
        =image_tag("blank.jpg")
      %h3
        Jane Yoon
      %h5
        IT Film Chair
	      jayoungy@andrew.cmu.edu

    .eboard-member
      .img
        =image_tag("eboard/Katie_Cameron_President.jpg")
      %h3
        Katie Cameron
      %h5
        Senior Advisor
        cameron.katiel@gmail.com

    .eboard-member
      .img
        =image_tag("eboard/Stephen_Serrao_Vice_President.jpg")
      %h3
        Stephen Serrao
      %h5
        Senior Advisor
        sserrao@andrew.cmu.edu

    .eboard-member
      .img
        =image_tag("eboard/Tony_Stanton_Faculty_Advisor.jpg")
      %h3
        Tony Stanton
      %h5
        Faculty Advisor
        stanton@andrew.cmu.edu
