.main
	%h1
		Contact us! We'd love to hear from you! 
    %p
      For general information or questions, please email
      %a{:href => "mailto:cmuenactus@gmail.com?Subject=General%20Information", :target => "_top"}
        CMU Enactus.
    %p
      To be added to our mailing list, please email
      %a{:href => "mailto:acye@andrew.cmu.edu?Subject=General%20Information", :target => "_top"}
        Alice Ye.

