.main
	%h1
		Contact us! We'd love to hear from you! 
	%p
		For general information or questions, please email #{mail_to "cmuenactus@gmail.com"}
	%p
		To be added to our mailing list, please email #{mail_to "acye@andrew.cmu.edu"}
