.grid_12
  #coin-slider
    :erb
      <%= image_tag('cmu_enactus.jpg') %>
  / .main
  /   %h1 What is Enactus?
  /   %p
  /     We are a community of student, academic and business leaders committed to using the power of entrepreneurial action to transform lives and shape a better, more sustainable world.

:javascript
  $(document).ready(function() {
    $('#coin-slider').coinslider({width:940, height:600, links: false});
  });

