.main
  #projects_container.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#eco_market"}
          %h1 Eco Market
      #eco_market.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Improve our environmental resources while promoting entrepreneurship. 
          %p
            Initiative: In the past we have worked with Burgh's Bees helping preserve the bee population and provide jobs for others. We have contributed by adding 8 beehives into the aviary and providing prospective beekeepers with the necessary resources. 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Shannon Ho 
            %h5
              shannonho77@gmail.com
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Emily Harwitz
            %h5
              edh@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#project_pulse"}
          %h1 Project Pulse
      #project_pulse.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Work alongside startups. 
          %p
            Initiative: Through this project, members will gain a deeper understanding of business operations and develop their analytical skill as well as team working and communication skills. Last year, the team from CMU Enactus worked with a local brewery, The Brew Gentleman. 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Mohak Nahta
            %h5
              mnahta@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              James Phua
            %h5
              tphua@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#citizen_empowerment"}
          %h1 Citizen Empowerment 
      #citizen_empowerment.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Work with veterans joining and taking part in the workforce. 
          %p
            Initiative: We went off campus and held workshops to start discussions with veterans helping them gain confidence to be able to work again.
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Raksha Rao
            %h5
              srir@andrew.cmu.edu 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Sanum Sheikh
            %h5
              szsheikh@andrew.cmu.edu

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#healthy_lifestyle"}
          %h1 Healthy Lifestyle
      #hli.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Help others to manage health and work in high stress environments. 
          %p
            Initiative: For nutrition, we plan to work towards healthier menus and healthy food handouts during exam week. For stress and fitness our activities will include 5k training sessions and anti-stress events in conjunction with CAPS and Peer Health Advocates. We also will focus on medicine. We hope to host a toiletry drive (estimating first week of December) which will hopefully be at the school, and we also plan to collect and distribute medicine samples, vaccines, and medical products from UPMC hospital. 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Kevin Long
            %h5
              kdlong@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Manasa Reddy
            %h5
              manasare@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#panama"}
          %h1 Panama
      #panama.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Empower and educate business leaders within the Panamanian community by providing them with the necessary skills to run a successful business. 
          %p
            Initiative: Global Business Brigades (GBB) provides business consulting and strategic investement to support under resourced microenterprises in developing countries while ensuring sustainable growth. 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Sanika Natu
            %h5
              snatu@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Dahiana Jimenez
            %h5
              dahianaj@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#expanding_opportunities"}
          %h1 Expanding Opportunities 
      #expanding_opportunities.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Identify disparity in the number of students pursuing higher education.
          %p
            Initiative: This year our team worked with middle school and high school students to host a career week. This initiative was aimed at exposing them to various career paths and introducing to them new subjects such as computer science and description. 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Alan Vurgait
            %h5
              avurgait@andrew.cmu.edu 
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Aneury Casado
            %h5
              acasado@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#cambam"}
          %h1 CamBam
      #cambam.accordion-body.collapse.in
        .accordion-inner
          %p
            Vision: Help Cambodia develop new markets through a start up incubator. 
          %p
            Initiative: Cambodia economy is turning around making it a great opportunity to open new economies of scale. Students will research and work alongside others to create business plans for future investors in Cambodia. 
          .eboard-member
            .img
              =image_tag("pl/Tristan_Kowalski_Carnegie_Startup.jpg")
            %h3
              Tristan Kowalski
            %h5
              tkowalsk@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("pl/Jasen_Blakney_Carnegie_Startup.jpg")
            %h3
              Jasen Blakney
            %h5
              jblakney@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#global_threads"}
          %h1 Expanding Opportunities
      #global_threads.accordion-body.collapse.in
        .accordion-inner
          %p
            Expanding Opportunities focuses on accessing entrepreneurial resources, networking with community entrepreneurs, and sharing ideas. We are dedicated to reaching out to people and giving educational resources to help both Pittsburgh and Yucatan communities.
          %p
            The main community issue that our project wishes to address is the lack of motivation prevalent amongst high schoolers in Yucatan, Mexico. We also hope to improve upon small business in the local town.
          %p
            In order to address these issues, We aim to learn from different entrepreneurs in the local Pittsburgh area and then share our knowledge with Merida, Yucatan, Mexico. In doing so, we hope to inspire the local youth as well as equip the business professional in Yucatan, with invaluable skills.
          .eboard-member
            .img
              =image_tag("pl/Phillip_Seyoung_Huh_Global_Threads.jpg")
            %h3
              Phillip Huh
            %h5
              phuh@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("pl/Eunji_Shim_Global_Threads.jpg")
            %h3
              EunJi Shim
            %h5
              eunjis@andrew.cmu.edu
