.main
  #projects_container.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#project_panama"}
          %h1 Project Panama
      #project_panama.accordion-body.collapse.in
        .accordion-inner
          %p
            Project Panama aims to bring together self-determined and passionate individuals to create a better, more sustainable world through the positive power of business in impoverished communities. We work towards community improvement by sustainable business development through education and training. Every year during spring break a team of students head down to Panama to work with various families to educate them and work with them on their problems in their small business. Apart from helping the communities, all the members of our team would agree that we gain just as much from the experience as we give; as we experience a new culture and meet extremely inspiring people.
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Pralav Bhansali
            %h5
              pbhansal@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#citizens_empowerment"}
          %h1 Citizens Empowerment
      #citizens_empowerment.accordion-body.collapse.in
        .accordion-inner
          %p
            Citizen Empowerment seeks to provide a service to those that are in need. This year, CE is working with a local veteran facility to empower homeless and unemployed veterans personally and professionally. The project holds weekly, discussion-based workshops at the facility. Each workshop focuses in on  two concepts: one personal and one professional skill, that is highlighted and discussed. Using a basis of reflection and goal-setting, we hope to bring these valued members of our community closer to employment and permanent residency.
          .eboard-member
            .img
              =image_tag("pl/John_Cusick_Citizen_Empowerment.jpg")
            %h3
              John Cusick
            %h5
              jcusick@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Shalaka Nanda Kumar
            %h5
              shalakank@hotmail.com
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#project_pulse"}
          %h1 Project Pulse
      #project_pulse.accordion-body.collapse.in
        .accordion-inner
          %p
            Check back for more information!
          .eboard-member
            .img
              =image_tag("blank.jpg")
            %h3
              Matt Gode
            %h5
              mgode@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("pl/Jeremy_Chiang_Pulse.jpg")
            %h3
              Jeremy Chiang
            %h5
              jerm6002@gmail.com

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#eco-market"}
          %h1 Eco-market
      #eco-market.accordion-body.collapse.in
        .accordion-inner
          %p
            Check back for more information!
          .eboard-member
            .img
              =image_tag("pl/Andrea_Druta_Eco-Market.jpg")
            %h3
              Andrea Druta
            %h5
              adruta@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("pl/Billy_Bullard_Eco_Market.jpg")
            %h3
              Billy Bullard
            %h5
              wbullard@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#hli"}
          %h1 Healthy Lifestyle Initiative
      #hli.accordion-body.collapse.in
        .accordion-inner
          %p
            Check back for more information!
          .eboard-member
            .img
              =image_tag("pl/Alice_Ye_Healthy_Lifestyles.jpg")
            %h3
              Alice Ye
            %h5
              ayjustlaugh@gmail.com
          .eboard-member
            .img
              =image_tag("pl/Kristina_Jiang_Healthy_Lifestyles.jpg")
            %h3
              Kristina Jiang
            %h5
              jang.kristina@gmail.com
          .eboard-member
            .img
              =image_tag("pl/Michael_Saheb_Kashaf_Healthy_Lifestyle_Initiatives.jpg")
            %h3
              Michael Saheb Kashaf
            %h5
              mkashaf1990@gmail.com
          .eboard-member
            .img
              =image_tag("pl/Sara_Saheb_Kashaf_Healthy_Lifestyle_Initiatives.jpg")
            %h3
              Sara Saheb Kashaf
            %h5
              ssahebka@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#elumanate"}
          %h1 eLumanate
      #elumanate.accordion-body.collapse.in
        .accordion-inner
          %p
            Check back for more information!
          .eboard-member
            .img
              =image_tag("pl/Annabelle_Huang_E-Luma.jpg")
            %h3
              Annabelle Huang
            %h5
              annabellehht@gmail.com
          .eboard-member
            .img
              =image_tag("pl/Saif_Jedidi_E-Luma.jpg")
            %h3
              Saif Jedidi
            %h5
              sjedidi@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#csu"}
          %h1 Carnegie Startups
      #csu.accordion-body.collapse.in
        .accordion-inner
          %p
            Check back for more information!
          .eboard-member
            .img
              =image_tag("pl/Tristan_Kowalski_Carnegie_Startup.jpg")
            %h3
              Tristan Kowalski
            %h5
              tkowalsk@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("pl/Jasen_Blakney_Carnegie_Startup.jpg")
            %h3
              Jasen Blakney
            %h5
              jblakney@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#global_threads"}
          %h1 Global Threads
      #global_threads.accordion-body.collapse.in
        .accordion-inner
          %p
            Global Threads focuses on accessing entrepreneurial resources, networking with community entrepreneurs, and sharing ideas. We are dedicated to reaching out to people and giving educational resources to help both Pittsburgh and Yucatan communities.
          %p
            The main community issue that our project wishes to address is the lack of motivation prevalent amongst high schoolers in Yucatan, Mexico. We also hope to improve upon small business in the local town.
          %p
            In order to address these issues, We aim to learn from different entrepreneurs in the local Pittsburgh area and then share our knowledge with Merida, Yucatan, Mexico. In doing so, we hope to inspire the local youth as well as equip the business professional in Yucatan, with invaluable skills.
          .eboard-member
            .img
              =image_tag("pl/Phillip_Seyoung_Huh_Global_Threads.jpg")
            %h3
              Phillip Huh
            %h5
              phuh@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("pl/Eunji_Shim_Global_Threads.jpg")
            %h3
              EunJi Shim
            %h5
              eunjis@andrew.cmu.edu