.main
	%h1 Project Panama
	%p
		Short Blurb about the project.
	%h1 Citizen Empowerment
	%h1 Project Pulse
	%h1 Eco-market
	%h1 Healthy Lifestyle Initiative
	%h1 eLumanate
	%h1 CSU
	%h1 Global Threads