.main
  #projects_container.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#eco_market"}
          %h1 Eco Market
      #eco_market.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Improve our environment resources while promoting entrepreneurship. 
          %p
            %span.semi-bold.yellow
              Initiative: 
            In the past we have worked with Burgh's Bees helping preserve the bee population and provide jobs for others. We have contributed by adding 8 beehives into the aviary and providing prospective beekeepers with the necessary resources. 
          .eboard-member
            .img
              =image_tag("members/Shannon_Ho.jpg")
            %h3
              Shannon Ho
            %h5
              shannonho77@gmail.com
          .eboard-member
            .img
              =image_tag("members/Emily_Harwitz.jpg")
            %h3
              Emily Harwitz
            %h5
              edh@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#citizens_empowerment"}
          %h1 Citizens Empowerment
      #citizens_empowerment.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Work with veterans joining and taking part in the workforce. 
          %p
            %span.semi-bold.yellow
              Initiative: 
            We went off campus and held workshops to start discussions with veterans helping them gain confidence to be able to work again. 
          .eboard-member
            .img
              =image_tag("members/Raksha_Rao.jpg")
            %h3
              Raksha Rao
            %h5
              srir@andrew.cmu.edu 
          .eboard-member
            .img
              =image_tag("members/Sanum_Sheikh.jpg")
            %h3
              Sanum Sheikh
            %h5
              szsheikh@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#project_pulse"}
          %h1 Project Pulse
      #project_pulse.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Work alongside startups. 
          %p
            %span.semi-bold.yellow
              Initiative: 
            Through this project, members will gain a deeper understanding of business operations and develop their analytical skill as well as team working and communication skills. Last year, the team from CMU Enactus worked with a local brewery, The Brew Gentleman. 
          .eboard-member
            .img
              =image_tag("members/Mohak_Nahta.jpg")
            %h3
              Mohak Nahta
            %h5
              mnahta@andrew.cmu.edu 
          .eboard-member
            .img
              =image_tag("members/James_Phua.jpg")
            %h3
              James Phua
            %h5
              tphua@andrew.cmu.edu

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#healthy_lifestyle"}
          %h1 Healthy Lifestyle
      #healthy_lifestyle.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Help others to manage health and work in high stress environments. 
          %p
            %span.semi-bold.yellow
              Initiative: 
            For nutrition, we plan to work towards healthier menus and healthy food handouts during exam week. For stress and fitness our activities will include 5k training sessions and anti-stress events in conjunction with CAPS and Peer Health Advocates. We also will focus on medicine. We hope to host a toiletry drive (estimating first week of December) which will hopefully be at the school, and we also plan to collect and distribute medicine samples, vaccines, and medical products from UPMC hospital. 
          .eboard-member
            .img
              =image_tag("members/Kevin_Long.jpg")
            %h3
              Kevin Long
            %h5
              kdlong@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("members/Manasa_Reddy.jpg")
            %h3
              Manasa Reddy
            %h5
              manasare@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#project_panama"}
          %h1 Project Panama
      #project_panama.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Empower and educate business leaders within the Panamanian community by providing them with the necessary skills to run a successful business. 
          %p
            %span.semi-bold.yellow
              Initiative: 
            Global Business Brigades (GBB) provides business consulting and strategic investement to support under resourced microenterprises in developing countries while ensuring sustainable growth. 
          .eboard-member
            .img
              =image_tag("members/Sanika_Natu.jpg")
            %h3
              Sanika Natu
            %h5
              snatu@andrew.cmu.edu
          .eboard-member
            .img
              =image_tag("members/Dahiana_Jimenez.jpg")
            %h3
              Dahiana Jimenez
            %h5
              dahianaj@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#global_threads"}
          %h1 Expanding Opportunities 
      #global_threads.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Identify disparity in the number of students pursuing higher education.
          %p
            %span.semi-bold.yellow
              Initiative: 
            This year our team worked with middle school and high school students to host a career week. This initiative was aimed at exposing them to various career paths and introducing to them new subjects such as computer science and description. 
          .eboard-member
            .img
              =image_tag("members/Alan_Vurgait.jpg")
            %h3
              Alan Vurgait
            %h5
              avurgait@andrew.cmu.edu 
          .eboard-member
            .img
              =image_tag("members/Aneury_Casado.jpg")
            %h3
              Aneury Casado
            %h5
              acasado@andrew.cmu.edu
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#projects_container", "data-toggle" => "collapse", :href => "#cambam"}
          %h1 CamBam
      #cambam.accordion-body.collapse.in
        .accordion-inner
          %p
            %span.semi-bold.yellow
              Vision: 
            Help Cambodia develop new markets through a start up incubator. 
          %p
            %span.semi-bold.yellow
              Initiative: 
            Cambodia economy is turning around making it a great opportunity to open new economies of scale. Students will research and work alongside others to create business plans for future investors in Cambodia. 
          .eboard-member
            .img
              =image_tag("members/Anita_Ramamurthy.jpg")
            %h3
              Anita Ramamurthy
            %h5
              aramamur@andrew.cmu.edu 
          .eboard-member
            .img
              =image_tag("members/Jen_Park.jpg")
            %h3
              Jen Park
            %h5
              h.jenpark@gmail.com
