
a {
	&:hover {
		text-decoration: none
	}
}

.eboard-member {
	width:220px;
  margin-left:65px;
  margin-right:20px;
  margin-bottom:45px;
  float:left;
	.img {
	  width:200px;
	  height:200px;
	  overflow:hidden;
	  border-radius: 50%;
	  -webkit-border-radius: 50%;
	  border: 10px solid #CCC;
	  float:left;
	}
	h3 {
		clear:both;
		padding-top:25px;
		text-align:center;
		line-height:16px;
	}
	h5 {
		clear:both;
		text-align:center;
	}
}

.gray {
	background: #e3f2f5;
}

.min-height {
	min-height:400px;
	//background: #e6e6e6;
}

.low-contrast-linen {
	background: #eeeeee url(image_path('low_contrast_linen_@2X.png')) repeat-x left top;
}

.top-nav-container {
	display:block;
	height:100px;
	width:100%;
	.top-nav {
		height:inherit;
		width:960px;
		margin: 0 auto;
		padding-top:10px;
		.logo {
			background: url(image_path('logo.png')) no-repeat left top;
			width:615px;
			margin-right:35px;
			height:75px;
			font-size:37px;
			color:white;
			text-indent:180px;
			line-height:117px;
			float:left;
			&:hover {
				cursor:pointer;
			}
			a, a:hover, a:visited {
				color:white;
				text-decoration:none;
			}
		}
		ul {
			list-style:none;
			display:inline;
			li {
				float:left;
				margin-left:32px;
				display:inline;
				padding-top:52px;
				a {
					color:white;
					font-size:18px;
					text-decoration:none;
					&:hover {
						color:#ffc423;
					}
				}
			}
		}
	}
}

.bottom-nav-container {
	height:320px;
	width:100%;
	.bottom-nav {
		height:inherit;
		width:960px;
		margin: 0 auto;
		.bottom-pane {
			height:inherit;
			width:280px;
			padding-left:20px;
			padding-right:20px;
			float:left;
			p {
				color:white;
				padding-left:44px;
			}
			h2 {
				padding-left:40px;
				padding-top:50px;
				color:white;
				margin-bottom:10px;
			}
		}
		.about {
			p {
				font-size:11px;
				color:white;
				padding-left:44px;
				.semi-bold {
					font-weight:600;
					display:inline;
				}
				.yellow {
					color:#ffc423;
					display:inline;
				}
			}
			.logo img {
				padding:20px;
				height:60px;
			}
		}
	}
}

.push {
	height:700px;
	width:960px;
	display:block;
}

.main {
	height:100%;
	width:inherit;
	padding:20px 0;
	h1 {
		weight:600;
		padding:10px 30px;
		margin:0;
	}
	p {
		font-weight:400;
		padding:10px 30px;
	}
}
